h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5rem;
}
header {
  background-color: white;
  margin-bottom: 0;
}
header ul {
  margin-left: 20px;
}
header div {
  margin-right: 20px;
}

.twentytwenty-container img {
    width: 100%;
}

.hide {
    display: none;
}

.convert img {
    max-width: 100%;
    max-height: 500px;
}

.card-body img {
    max-width: 100%;
    margin-bottom: 15px;
}

#ascii-text {
    font-family: "Courier New", serif !important;
    margin: 15px auto;
    /*text-align: center;*/
    white-space: pre;
    /*width: 1000px;*/
    width: fit-content;
    overflow-y: hidden;
    /*width: 1128px;*/
    /*height: 914px;*/
    /*background-color: black;*/
}

#submit-btn {
    display: none;
}

.files input {
    outline: 2px dashed #0d6efd;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #0a5ad2;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}

.error input {
    outline: 2px dashed #dc3545;
}
.error input:focus{
    outline: 2px dashed #dc3545;
    border:1px solid #dc3545;
 }
.error:before {
    content: "Формат загруженного файла не поддерживается" !important;
    color: #dc3545 !important;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: "Или перетащите файл сюда";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-align: center;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
