header {
  background-color: white;
  margin-bottom: 0;
}
header ul {
  margin-left: 20px;
}
header div {
  margin-right: 20px;
}

h1 {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.text-error {
    color: red;
    height: 25px;
}
.container {
    background-color: white;
}

i {
    margin-left: 10px;
}

.reg_inputs {
    font-size: 20px;
    width: 700px;
}

.fal {
    display: none;
    color: #ff0000;
}

#reg_btn {
    margin: 0 auto 0 auto;
}